*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: burlywood;
}
/* Header */
.header{
    width: 100%;
    height: 80px;
    background-color: lightgreen;
    display: flex; 
}

/* Nav con spazio diviso */
.nav{
    margin: 20px 20%;
    width: 100%;
    height: 40px;
    background-color: rgb(175, 111, 0);
    display: flex;
}

.links,
.logo,
.login {
    border: 1px dashed black;
    padding: 10px;
    font-size: 15px;
}

.links{
    width: 50%;
    text-align: center;
}

.logo{
    width: 25%;
    text-align: left;
}

.login{
    width: 25%;
    text-align: right;
}
/* /Nav */
/* /Header */

/* Adv */

.adv{
    width: 100%;
    height: 300px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
}

.spacead{
    margin: 30px 25%;
    width: 100%;
    height: 240px;
    background-color: palevioletred;
    border: 1px dashed black;
}

/* /Adv */

/* Sezione Left to right */

.sectionltor{
    height: 400px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.leftoright{
    margin: 20px 20%;
    width: 100%;
    height: 360px;
    background-color: chocolate;
    display: flex;
}

.leftproductbig{
    width: 66%;
    height: 100%;
    border: 1px dashed black;
    background-color: lightskyblue;
}

.rightproductsmall{
    width: 34%;
    height: 100%;
    border: 1px dashed black;
    background-color: lightpink;
}
